@use '../variables' as *;

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  width: fit-content;
  padding: 0.5rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  opacity: 0.5;
  font-size: 0.75rem;
  background-color: transparent;
  border-radius: 1rem;
  border: solid grey;
  position: relative;

  &:hover {
    opacity: 1;
    background-color: $powder-blue;
  }

  &:active {
    background-color: $celadon-blue;
    opacity: 1;
    top: 0.1rem;
  }
}

a {
  text-decoration: none;
  color: black;
}