@use '../variables' as *;

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  width: fit-content;
  padding: 0.5rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  opacity: 0.5;
  font-size: 0.75rem;
  background-color: transparent;
  border-radius: 0.75rem;
  border: solid grey;
  position: relative;
  transition-property: transform, background-color, opacity;
  transition-duration: 0.5s;

  &:hover {
    opacity: 1;
    background-color: $powder-blue;
    transform: scale(1.1);
  }

  &:active {
    background-color: $celadon-blue;
    opacity: 1;
    top: 0.1rem;
  }
}

form button {
  align-self: end;
  opacity: 1;
  background-color: $powder-blue;
  border: solid;
  transition: transform 0.5s;
}

a {
  text-decoration: none;
  color: black;
}