@use "../variables" as *;

form {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.project-form-modal form {
  width: 80%;

}

.control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-weight: bold;
}