.radio-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  color: black;
  padding: 0.5rem;
  border-radius: 1rem;
}

input[type=radio]:checked {
  & + .priority1 {
    background-color: #e76f51
  };

  & + .priority2 {
    background-color: #f4a261
  }

  & + .priority3 {
    background-color: #e9c46a
  }

  & + .priority4 {
    background-color: #2a9d8f;
  }
}