@use '../variables' as *;

.tasks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.new-task {
  margin: 0.5rem 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
}

.task-control {
  display: flex;
  gap: 0.5rem;
}

.complete {
  text-decoration: line-through;
}

.priority1 {
  color: red;
}

.priority2 {
  color: orange;
}

.priority3 {
  color: blue;
}