@use '../variables' as *;

.tasks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.new-task {
  margin: 0.5rem 0;
}

.task {
  display: flex;
}

.task-controls {
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;
}