$imperial-red: rgba(230, 57, 70, 1);
$honeydew: rgba(241, 250, 238, 0.4);
$powder-blue: rgba(168, 218, 220, 1);
$celadon-blue: rgba(69, 123, 157, 0.5);
$prussian-blue: rgba(29, 53, 87, 1);
$desert-sand: rgba(237, 204, 171, 0.75);


@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 100 1000;
  src:
    url('../fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: normal;
  src: 
  url('../fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
}